Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.log
config.status
config.h
depcomp
install-sh
missing
stamp-h1
*.gmo
src/*.o
src/leafpad
src/.deps
data/icons/*/.deps
data/icons/*/*.o
po/POTFILES
po/stamp-it